.btn {
  /* display: block; */
  align-self: center;
  border-radius: var(--border-radius);
  padding: 8px 16px;
  max-width: 225px;
  height: 40px;
  border-color: transparent;
  background-color: var(--color-btn);
  font-weight: 500;
  color: var(--color-white);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover:not(:disabled),
.btn:focus {
  background-color: var(--color-btn-hover);
  outline: none;
}

.btn:disabled {
  background-color: var(--color-muted);
  cursor: not-allowed;
}

.delete {
  background-color: #dc3545;
  color: var(--color-white);
}

.delete:hover:not(:disabled),
.delete:focus {
  background-color: #c82333;
}
