nav {
  display: flex;
  align-items: center;
  gap: 48px;
}

.link {
  color: var(--color-white);
  border-radius: var(--border-radius);
  padding: 8px 16px;
  user-select: none;
  background-color: var(--color-btn);
  box-shadow: var(--box-shadow);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.link:hover {
  background-color: var(--color-btn-hover);
}

.active {
  background-color: var(--color-btn-hover);
  font-weight: 700;
  transform: scale(0.97);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
