.header {
  padding: 12px 24px;
  border-radius: var(--border-radius);
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  background-color: var(--color-bg);
  box-shadow: var(--box-shadow);
}
